/* *************** media queries ***************/
/* @media (max-width:500px) {
    #page1{
        width: 100%;
        height: 100%;
    }
    #nav-left>.small-text {
        display: none;
    }
    #nav-left>.big-text{
        height:100%;
    }
    #nav-left>.big-text>h1{
       font-size: 12.4vw;
    }
    #nav-right>.small-text-right {
        display: none;
    }
    #nav-right>.big-text-right {
        height: 100%;
    }
    #nav-right>.big-text-right>h1 {
        font-size: 12.4vw;
    } */
/* } */