@font-face {
    font-family: a;
    src: url(./63273dbbf8acefbabe7185b2_PPEditorialNew-Ultralight.ttf);
}
@font-face {
    font-family: b;
    src: url(./632afdbf585e19218f2c06e3_PPMori-Book.ttf);
}
@font-face {
    font-family: c;
    src: url(./648f091032f94fd8cc8ba44c_Arges-NormalHeavy.ttf);
}
@font-face {
    font-family: d;
    src: url(./648f0bfec67475da7bef8fec_Arges-NormalBold.ttf);
}
@font-face {
    font-family: e;
    src: url(./6490b65d6f10b24bc0356438_Blackstone.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

:root{
    --text-color:#a3c478;
    --small-text-color:#bee987;
    --bg-color:#192928;
    --bg-sec-color:#622d21;
    --sec-text-color:#a45543;
    --third-text-color:#fbdcc6;
    --extrs-small-text:#ac9882;
    --bg-frth-bg:#9e9882;
    --bg-5color:#bcab99;
    --text-5color:#964141;
    --big-text-color:#f10034;
}
#main{

}

/* *********** page1***************** */
#page1{
    width: 100vw;
    height: 100vh;
    /* background-color: rebeccapurple; */
    position: relative;
}
.image-div{
    width: 100%;
    height: 100%;
    position: relative;
}
.image-div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #000000a5;
    position: absolute;
    top: 0;
}
nav{
    width: 100%;
    height: 25%;
    /* background-color: palevioletred; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-left{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.small-text{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--small-text-color);
    padding: 0 1.2vw;
}
.small-text>h3{
    text-transform: uppercase;
    font-size: 1.1vw;
    font-family: b;
}
.big-text{
    width: 100%;
    height: 80%;
    /* background-color: green; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: c;
    text-transform: uppercase;
    color: var(--small-text-color);
    padding: 0 1.2vw;
}
.big-text>h1{
    font-size: 5.4vw;
}
#nav-center{
    width: 60%;
    height: 100%;
    /* background-color: pink;     */
    color: var(--small-text-color);
}
#nav-center>h2{
    font-size: 2vw;
    font-family: c;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-right{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.small-text-right{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--small-text-color);
    padding: 0 1.2vw;
}
.small-text-right>h3{
    text-transform: uppercase;
    font-size: 1.1vw;
    font-family: b;
}
.big-text-right{
    width: 100%;
    height: 80%;
    /* background-color: green; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-family: c;
    text-transform: uppercase;
    color: var(--small-text-color);
    padding: 0 1.2vw;
}
.big-text>h1{
    font-size: 5.4vw;
}
#nav-right>.small-text>h3{
    margin-left: 10vw;
}
#nav-right>.big-text>h1{
    margin-left: 9.1vw;
}
#hero{
    width: 100%;
    height: calc(100% - 25%);
    /* background-color: #622d21; */
    position: relative;
}

#hero-top{
    width: 100%;
    height: 60%;
    position: relative;
    /* background-color: #9e9882; */
}
#hero-bottom{
    width: 100%;
    height: 40%;
    position: relative;
    /* background-color: #bee987; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-btm-lft{
    width: 25%;
    height: 100%;
     /* background-color: yellow; */ 
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:3vw 
}
.inner-hero-btn-top{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw
}
#hero-btm-center{
    width: 50%;
    height: 100%;
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.3vw
}
#hero-btm-center>h3{
    font-family: c;
    font-size: 2vw;
    color: var(--small-text-color);
}
#hero-btm-center>h2{
    font-family: c;
    font-size: 4vw;
    color: var(--text-color);
}
#hero-btm-center>p{
    font-family: a;
    font-size: .7vw;
    width: 80%;
    color: var(--text-color);
    /* letter-spacing: .1vw; */
}
#hero-btm-center>p>span{
    font-family: b;
    font-size: 1vw;
    color: var(--small-text-color);
    font-family: 600;
}
#hero-btm-ryt{
    width: 25%;
    height: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-div-ryt{
    width: 75%;
    height: 65%;
    /* background-color: peru; */
    position: relative;
    border-radius: .4vw;
    overflow: hidden;
}
#hero-btm-ryt>h2{
    position: absolute;
    top: 20%;
    left: 16%;
    z-index: 1;
    /* background-color: rebeccapurple; */
    width: fit-content;
    font-size: 3vw;
    letter-spacing: 1.vw;
    font-family: c;
    color: var(--small-text-color);
}
#hero-btm-ryt>p{
    position: absolute;
    bottom: 25%;
    left: 16%;
    z-index: 1;
    font-size: 1.1vw;
    font-family: e;
    width: fit-content;
    font-family: c;
    color: var(--small-text-color);
}
.img-div-ryt>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
    transition: all .335s ease;
}
.img-div-ryt>video:hover{
    scale: 1.1;
}
/* ********* page2 ************ */
#page2{
    width: 100vw;
    height: 100vh;
    background-color: red;
}



/* *************** media queries ***************/
@media (max-width:500px) {
    #page1{
        width: 100%;
        max-height: 100%;
    }
    #nav-left>.small-text {
        display: none;
    }
    #nav-left>.big-text{
        height:100%;
    }
    #nav-left>.big-text>h1{
       font-size: 12.4vw;
    }
    #nav-right>.small-text-right {
        display: none;
    }
    #nav-right>.big-text-right {
        height: 100%;
    }
    #nav-right>.big-text-right>h1 {
        font-size: 12.4vw;
    }
    .image-div>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
