@font-face {
    font-family: a;
    src: url(./63273dbbf8acefbabe7185b2_PPEditorialNew-Ultralight.ttf);
}
@font-face {
    font-family: b;
    src: url(./632afdbf585e19218f2c06e3_PPMori-Book.ttf);
}
@font-face {
    font-family: c;
    src: url(./648f091032f94fd8cc8ba44c_Arges-NormalHeavy.ttf);
}
@font-face {
    font-family: d;
    src: url(./648f0bfec67475da7bef8fec_Arges-NormalBold.ttf);
}
@font-face {
    font-family: e;
    src: url(./6490b65d6f10b24bc0356438_Blackstone.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

:root{
    --text-color:#a3c478;
    --small-text-color:#bee987;
    --bg-color:#192928;
    --bg-sec-color:#622d21;
    --sec-text-color:#a45543;
    --third-text-color:#fbdcc6;
    --extrs-small-text:#ac9882;
    --bg-frth-bg:#9e9882;
    --bg-5color:#bcab99;
    --text-5color:#964141;
    --big-text-color:#f10034;
}
#main{

}

/* *********** page1***************** */
#page1{
    width: 100vw;
    height: 100vh;
    /* background-color: rebeccapurple; */
    position: relative;
}
.image-div{
    width: 100%;
    height: 100%;
    position: relative;
}
.image-div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #00000084;
    position: absolute;
    top: 0;
}
nav{
    width: 100%;
    height: 25%;
    /* background-color: palevioletred; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-left{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
}
.small-text{
    width: 100%;
    height: 30%;
    /* background-color: red; */
    font-size: 1.2vw;
    font-family: b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--small-text-color);
}
.big-text{
    width: 100%;
    height: 70%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.3vw;
    font-family: c;
    text-transform: uppercase;
    color: var(--small-text-color);
}
#nav-center{
    width: 60%;
    height: 100%;
    /* background-color: pink;     */
    color: var(--small-text-color);
}
#nav-center>h2{
    font-size: 2vw;
    font-family: c;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-right{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
}
#hero{
    width: 100%;
    height: calc(100% - 25%);
    /* background-color: #622d21; */
    position: relative;
}
#hero-top{
    width: 100%;
    height: 50%;
    position: relative;
    /* background-color: #9e9882; */
}
#hero-bottom{
    width: 100%;
    height: 50%;
    position: relative;
    /* background-color: #bee987; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-btm-lft{
    width: 25%;
    height: 100%;
     /* background-color: yellow; */ 
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:3vw 
}
.inner-hero-btn-top{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw
}
#hero-btm-center{
    width: 50%;
    height: 100%;
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.3vw
}
#hero-btm-center>h3{
    font-family: c;
    font-size: 2vw;
    color: var(--small-text-color);
}
#hero-btm-center>h2{
    font-family: c;
    font-size: 4vw;
    color: var(--text-color);
}
#hero-btm-center>p{
    font-family: a;
    font-size: .7vw;
    width: 80%;
    color: var(--text-color);
    /* letter-spacing: .1vw; */
}
#hero-btm-center>p>span{
    font-family: b;
    font-size: 1vw;
    color: var(--small-text-color);
    font-family: 600;
}
#hero-btm-ryt{
    width: 25%;
    height: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-div-ryt{
    width: 90%;
    height: 75%;
    /* background-color: peru; */
    position: relative;
    border-radius: .4vw;
    overflow: hidden;
}
.img-div-ryt>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
}
/* ********* page2 ************ */
#page2{
    width: 100vw;
    height: 100vh;
    background-color: red;
}